/* Main container wrapper */
.container {
  margin-left: 10%;
  margin-right: 10%;
}

/* Css for header navbar */
nav ul {
  list-style-type: none;
}
header {
  background-color: #2f4f4f;
  display: flex;
  position: sticky;
  top: 0;
}
.logo {
  margin-left: 2%;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
}
nav {
  margin-left: 40%;
}
header nav ul li {
  padding-left: 20px;
  list-style-type: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  float: left;
}
header nav ul li a:hover {
  background-color: black;
}
/* CSS end for  navbar */

/* Css for main body */
.main-body {
  margin-top: 2%;
}
/* End of css for main body */

/* css for about */
.about {
  display: flex;
}
.about .intro {
  width: 60%;
  background-color: #fdf5e6;
  border: 0.5px solid;
  box-shadow: 8px 8px;
  padding-left: 2%;
  padding-right: 2%;
}
.about .my-image {
  width: 35%;
  background-color: #fdf5e6;
  margin-left: 3%;
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: 0.5px solid;
  box-shadow: 8px 8px;
}
.about div img {
  border-radius: 50%;
  padding-left: 9%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.intro ul {
  list-style-type: none;
}
.social-media-icons > li{
  float: left;
  padding-left: 10px;
}
/* end css for about */

/* CSS for skills */
table {
  width: 100%;
}
progress {
  width: 80%;
  height: 25px;
  display: block;
  padding: 4px;
  border: 1 none;
  background: #fafad2;
  border-radius: 14px;
}
progress:after {
  content: attr(value) "%";
}
/* end css for skills */

/* common CSS for experience , education and projects  contact section  */
.experience,
.projects,
.skills,
.education,
.contact {
  background-color: #fdf5e6;
  border: 0.5px solid;
  box-shadow: 8px 8px;
  margin-top: 10px;
  padding-left: 2%;
  padding-bottom: 25px;
  padding-right: 2%;
  /* display: block; */
}
.experience h2,
.education h2,
.projects h2,
.contact h2,
.skills h2 {
  text-decoration: underline;
}
#skill-toggle-button,
#education-toggle-button,
#projects-toggle-button,
#experience-toggle-button,
#contact-toggle-button {
  background-color: red;
  font-size: 16px;
  color: white;
  border-radius: 12px;
  margin-top: 40px;
  padding: 5px;
}
#skill-toggle-button:hover,
#education-toggle-button:hover,
#projects-toggle-button:hover,
#experience-toggle-button:hover,
#contact-toggle-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}
/* END CSS for experience section */

/* CSS for contact form */
textarea {
  box-sizing: border-box;
  border: 2px solid #ccc;
  margin-top: 15px;
  width: 33.3%;
}
input {
  margin-top: 10px;
}
input[type="text"],
input[type="email"] {
  width: 30%;
  padding: 8px 20px;
  margin-left: 20px;
}
label {
  font-weight: 600;
}
.form-submit-button {
  background-color: green;
  font-size: 24px;
  color: white;
  border-radius: 12px;
  margin-top: 18px;
  padding: 10px;
}
.form-submit-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}
.error-message {
  color: red;
}
/* END of contact form css */

/* Styles for footer */
footer {
  text-align: center;
  background-color: #2f4f4f;
  height: 30px;
  margin-top: 30px;
  padding-top: 10px;
  color: white;
}
/*  End of styles for footer */

/* Style to show after opening anchor link of navbar  */
:target {
  position: relative;
}


/* to make responsive */
@media (max-width: 640px) { 
   .my-image > img {
     height: 15%;
     width: 80%;
   }
   header nav ul li {
    padding-left: 20px;
    list-style-type: none;
    font-size: 0.75rem;
    text-transform: uppercase;
    float: left;
  }
  nav {
    margin-left: 20%;
  }
 } 
